<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70279102156-u25u3kigcp4gscisb80cr6f6vnca1rad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70279102156-u25u3kigcp4gscisb80cr6f6vnca1rad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>70279102156-0glse6khpuhvnne9dpi7ps6j037f8r79.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDULo03beaEFzGmqgUXSGaLM-yJKt4dDLw</string>
	<key>GCM_SENDER_ID</key>
	<string>70279102156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arda.instantstatusapp</string>
	<key>PROJECT_ID</key>
	<string>instant-status-8d123</string>
	<key>STORAGE_BUCKET</key>
	<string>instant-status-8d123.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70279102156:ios:eb711ccb71aa877e9c4c69</string>
</dict>
</plist>